<nav class="navbar navbar-light" style="background-color: #e3f2fd">
  <a class="navbar-brand"><p class="lead mb-3">Welcome <%= user.name %></p></a>
  <a href="/users/logout" class="btn btn-secondary">Logout</a>
</nav>

<div class="box border border-success">
  <form class="form-group" action="/dashboard" method="POST">
    Enter activity :
    <input required type="text" name="text" placeholder="Meeting at 5:30" id="text" >
    <input class="btn btn-success" type="submit" value="Add" id="add" >
  </form>
</div>

<hr />

<h3>Tasks</h3>
<hr />
<%# filter tasks by isDone %>
<% const tUndone = tasks.filter((task) => task.isDone === false) %>
<% if (tUndone.length > 0) { %>
  <% tUndone.forEach(task => { %>
    <div class="row todo-item">
      <div class="col-1">
        <input type="checkbox" onchange="changeStatus(`<%= task._id %>`, this.checked)" <%= task.isDone ? 'checked' : '' %> >
      </div>
      <div class="col">
        <%= task.text %>
      </div>
      <div class="col-1">
        <span class="fas fa-trash delete" data-doc="<%= task._id %>" title="Delete Task"></span>
      </div>
    </div>
  <% }) %>
<% } else { %>
  <p>No Tasks Yet!!!</p>
<% } %>

<hr />

<h3>Completed</h3>
<hr />
<%# filter tasks by isDone %>
<% const tDone = tasks.filter((task) => task.isDone === true) %>
<% if (tDone.length > 0) { %>
  <% tDone.forEach(task => { %>
    <div class="row todo-item todo-item-done">
      <div class="col-1">
        <input type="checkbox" onchange="changeStatus(`<%= task._id %>`, this.checked)" <%= task.isDone ? 'checked' : '' %> >
      </div>
      <div class="col">
        <%= task.text %>
      </div>
      <div class="col-1">
        <span class="fas fa-trash delete" data-doc="<%= task._id %>" title="Delete Task"></span>
      </div>
    </div>
  <% }) %>
<% } else { %>
  <p>No Tasks Yet!!!</p>
<% } %>

<script>
  // add eventlistener to all delete buttons
  document.querySelectorAll("span.delete").forEach(delButton => {
    delButton.addEventListener("click", (e) => {
      const task_id = `/dashboard/${delButton.dataset.doc}`;
      fetch(task_id, { method: "DELETE" })
        .then((response) => response.json())
        .then(() => window.location.href = '/dashboard')
        .catch((err) => console.log(err));
    });
  });

  // change task status
  const changeStatus = (task_id, isDone) => {
    fetch('/dashboard', {
      method: 'POST',
      body: new URLSearchParams(`_id=${task_id}&isDone=${isDone}`)
    })
      .then(() => window.location.href = '/dashboard')
      .catch(err => console.log(err));
  }
</script>